@{
    ViewData["Title"] = "Home Page";
}

<div style=" background-image: url(login_img.jpg); background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; background-size: cover; height:100vh">
    <div class="text-center m-4">
        <h1 class="display-4">Hello!</h1>
        <br/>
        <p>You may be wondering why you should choose this application as a task management platform. Or maybe you are indecisive because you don't know what functionalities this platform has and what advantages it brings compared to others. Or maybe you just want to know how it is used and if it fits your way of working.</p>
        <p>Let's give you some details in this case! =)</p>
        <br/>
        <p>
            This Task Management platform allows any registered user to create projects and then assign each project to a team. Team members are chosen by the user who created the project assigned to the team, and he can remove or add people to the team at any time, regardless of the stage of the project.
            Also, each team has a special page where team members and tasks can be viewed, also the tasks are sorted by category so it is easy to follow their status. The platform provides good functionality because each task can have its comments added by team members, which facilitates communication between team-mates, through the platform, without having to use other means of communication.
            All data are changed promptly, without any mismatch between the members of a team.
        </p>
        <br />
        <p>
            Have we convinced you to try this platform? In any case, you can view and test it by registering.
        </p>
    </div>
</div>